@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    background-color: #f3f5fd;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 100%;
    max-width: 1800px;
}


/* Start header */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}


/* Start left  */

header .left {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

header .left .menu,
.menu2 {
    width: 20px;
    height: 2px;
    position: relative;
    background-color: #000;
    font-weight: 800;
    cursor: pointer;
}

header .left .menu::before,
.menu2::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 4px;
    background-color: #000;
    top: -6px;
    left: 3.5px;
}

header .left .menu::after,
.menu2::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 4px;
    background-color: #000;
    left: 3.5px;
    bottom: -6px;
}


/* Start LOGO */

header .left .logo {
    margin: 0 2rem;
    display: block;
    font-size: 19px;
}

.logoo {
    display: none;
    color: #000;
    font-size: 2rem;
}


/* End LOGO */


/* Search */

header .left .search {
    border-radius: 1.875rem;
    background-color: #fff;
    padding-right: 0.75rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    color: gray;
    box-shadow: 0 2px 6px 0 rgb(136 148 171 / 20%), 0 24px 20px -24px rgb(71 82 107 / 10%);
    max-width: 450px;
    margin-right: 3px;
    transition: all 1.433s ease;
}

header .left .search input {
    border: none;
    flex: 1;
    outline: none;
    height: 100%;
    padding: 0 20px;
    font-size: 16px;
    background-color: transparent;
    color: #000;
}

header .left .search:hover {
    border: 3px solid goldenrod;
    border-radius: 1.875rem;
}


/* Search */


/* End LEFT */


/* Start MAIN */

main {
    display: flex;
    height: 100%;
    padding: 20px 20px 35px 0;
}


/* End MAIn */


/* Start right */

header .right,
.right2 {
    display: flex;
    align-items: center;
}

header .right button {
    border: none;
    background-color: transparent;
    margin-right: 1rem;
    cursor: pointer;
    padding-bottom: 3px;
}

header .right button:hover {
    border-bottom: 1px solid gray;
}

header .right .plus {
    background-color: #000;
    padding: 5px;
    color: #fff;
    border-radius: 50%;
    height: 26px;
}

header .right .account {
    border-left: 1px solid #DDDDDD;
    padding-left: 0.5rem;
}

header .right .account img {
    vertical-align: middle;
}

header .right .account span {
    font-weight: 800;
}


/* 600px or less */

.right2 {
    display: none;
}

.right2 button {
    border: none;
    background-color: transparent;
    margin-right: 1rem;
}

.right2 .plus {
    background-color: #000;
    padding: 5px;
    color: #fff;
    border-radius: 50%;
    height: 26px;
}

.right2 .account {
    border-left: 1px solid rgb(177, 174, 174);
    padding-left: 0.5rem;
}

.right2 .account img {
    vertical-align: middle;
}

.right2 .account span {
    font-weight: 800;
}


/* End right */


/* End header */


/* main */

.main {
    display: flex;
    height: 100vh;
    padding: 16px 24px 24px 0;
}


/* Start Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    margin: 40px 0 40px 0;
    padding: 30px 16px;
}

.sidebar a {
    width: 40px;
    height: 40px;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    transition: all 1.433s ease;
}

.sidebar a img:hover {
    filter: drop-shadow(2 px 2 px 4 px #575757);
}

.sidebar a:first-child {
    border-radius: 50%;
    background-color: rgb(15, 15, 15);
    padding: 5px 0px;
}

.sidebar a:first-child img {
    margin: 4px 4px 7px 4px;
}

.sidebar .link img:hover {
    filter: drop-shadow(2px 4px 8px #575757);
}


/* End Sidebar */


/* START container projects */

.container-projects {
    flex: 2;
    background-color: #fff;
    border-radius: 35px;
    width: 100%;
    padding: 32px 18px 0 39px;
    display: flex;
    flex-direction: column;
}

.container-projects .project-title1,
.container-projects .project-title2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

h3:first-child {
    font-size: 25px;
    color: #3e3c3c;
}

h3:last-child {
    font-size: 19px;
    color: #3e3c3c;
}

.left-project-title2 {
    display: flex;
    align-items: center;
}

.words {
    position: relative;
}

.words::after {
    content: '';
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translatey(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #060505;
}

.left-project-title2 .numbers-words:last-child .words::after {
    content: none;
}

.left-project-title2 .numbers-words {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-right: 2rem;
}

.left-project-title2 .numbers {
    font-weight: 800;
    font-size: 25px;
}

.left-project-title2 .words {
    font-size: 15px;
    color: #585656;
}

.right-project-title2 {
    display: flex;
    align-items: center;
}

.right-project-title2 a {
    margin-right: 6px;
}

.right-project-title2 a img {
    height: 30px;
    width: 30px;
}

.right-project-title2 a .fa-list-ul {
    font-weight: 500;
    font-size: x-large;
    color: #000;
}

.projects {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.projects .parent {
    width: calc(100% / 3);
    padding: 5px;
    margin-bottom: 10px;
}

.parent .box1,
.parent .box2,
.parent .box3,
.parent .box4,
.parent .box5,
.parent .box6 {
    border-radius: 30px;
    padding: 18px 16px;
}

.parent .box1 {
    background-color: #FEE4CB;
}

.parent .box1 a .add1,
.button1 {
    color: #f3712cba;
}

.parent .box2 {
    background-color: #e9e6fd;
}

.parent .box2 a .add2,
.button2 {
    color: #4f40f0;
}

.parent .box3 {
    background-color: #dbf6fd;
}

.parent .box3 a .add3,
.button3 {
    color: #096c86;
}

.parent .box4 {
    background-color: #ffd3e2;
}

.parent .box4 a .add4,
.button4 {
    color: #df366f;
}

.parent .box5 {
    background-color: #c8f7dc;
}

.parent .box5 a .add5,
.button5 {
    color: #34c471;
}

.parent .box6 {
    background-color: #d5deff;
}

.parent .box6 a .add6,
.button6 {
    color: #4067f9;
}

.button1,
.button2,
.button3,
.button4,
.button5,
.button6 {
    cursor: pointer;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.mid {
    text-align: center;
    margin-bottom: 1rem;
}

.mid .mid-h {
    margin-bottom: 10px;
}

.top h4,
.mid mid-p {
    opacity: 0.5;
    font-size: 14px;
}

.mid-p {
    opacity: 0.8;
    font-size: 14px;
}

.progress {
    display: flex;
    flex-direction: column;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 30px;
}

.line-p {
    height: 100%;
    height: 4px;
    margin: 0;
}

.linep1 {
    width: 60%;
    background-color: #f3712cba;
}

.linep2 {
    width: 50%;
    background-color: #4f40f0;
}

.linep3 {
    width: 80%;
    background-color: #096c86;
}

.linep4 {
    width: 20%;
    background-color: #df366f;
}

.linep5 {
    width: 60%;
    background-color: #34c471;
}

.linep6 {
    width: 40%;
    background-color: #4067f9;
}

.progress p:last-child {
    align-self: end;
}

.progress p:last-child,
.progress-h {
    font-weight: 800;
}

.projects-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    position: relative;
}

.projects-footer::after {
    content: '';
    position: absolute;
    background-color: #fff9;
    width: calc(100% + 32px);
    top: -16px;
    left: -16px;
    height: 1px;
}

.left-box1 {
    display: flex;
    align-items: center;
}

.projects-footer .left-box1 {
    display: flex;
    align-items: center;
}

.projects-footer .left-box1 img {
    width: 25px;
    height: 25px;
    margin-left: -6px;
}

.projects-footer .left-box1 a {
    margin-left: 5px;
    display: flex;
    margin-right: 5px;
    justify-content: center;
    text-decoration: none;
    align-items: end;
    background-color: #fff;
    border-radius: 50%;
    padding: 4px 4px;
    font-size: 9px;
}

.projects-footer .right-box1 {
    flex-shrink: 0;
}

.projects-footer .right-box1 button {
    font-weight: 600;
    padding: 5px 12px;
    border-radius: 35px;
    border: none;
    background-color: #fff;
}

.client-messages {
    margin-left: 20px;
    display: flex;
    background-color: #fff;
    border-radius: 35px;
    flex: 1;
    flex-direction: column;
}

.title-messages {
    padding: 32px 22px 0 32px;
    margin-bottom: 30px;
}

.message {
    padding: 15px 16px 0 16px;
    border-top: 1px solid #f1e4e4;
    display: flex;
}

.message:hover {
    background-color: aliceblue;
    border-top: 1px solid #00000096;
    border-bottom: 1px solid #00000096;
}

.message img {
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.shadow-img {
    filter: drop-shadow(2px 0px 3px #575757);
}

.content {
    padding-left: 15px;
    width: 100%;
}

.top-m {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client-messages .message .content .top-m .rate {
    height: 24px;
    width: 24PX;
    cursor: pointer;
}

.center-w {
    font-size: 14px;
    line-height: 20px;
    opacity: 0.8;
}

.message .center-w {
    margin: 9px 0;
}

.two,
.three {
    margin-bottom: 10px;
}

.date-right {
    display: flex;
    justify-content: end;
    font-size: 14px;
    opacity: 0.8;
    margin-top: 5px;
    margin-bottom: 15px;
}


/* end main  */